html{
    font-family: 'Princess_Sofia', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: cyan;
}

@font-face {
    font-family: 'Princess_Sofia';
    font-style: normal;
    src: url(/font/Princess_Sofia/PrincessSofia-Regular.ttf);
}

li{
    font-family: 'Segoe UI';
}

.img--placement{
    position: relative;
    float: right;
    top: -21.2rem;
    margin-right: 75rem;
}

h3{
    color: brown;
}

section{
    margin-block-start: 10rem;
}

li:last-child {
    background-color: yellow;
  }
